@font-face {
    font-family: 'icomoon'; /*a name to be used later*/
    src: url('icomoon.ttf'); /*URL to font*/
}

.btnsmall,
.btnstyle,
.btnstyle3,
.btnstyle3-dis,
.btnstylerev {
    background: url("images/bg_header.png") repeat-x;
    color: #e7e7e7;
    margin: 3px 0;
}
.btnstyle,
.btnstyle3,
.btnstyle3-dis,
.btnstylerev {
    padding: 3px 15px;
}
.btnsmall:hover,
.btnstyle:hover,
.btnstyle3:hover,
.btnstylerev:hover {
    color: #fff;
}
.btnstyle3-dis {
    color: #e7e7e7;
    opacity: 0.7;
}

tr.odd {
    background-color: #FFCCB1;
}


body {
    background: #646464 url("images/body_pattern.png") repeat top left;
}

.navbar-inverse .navbar-inner {
    background-image: url("images/bg_header.png");
    background-repeat: repeat;
}

.navbar-inverse .brand h1 {
    color: #e7e7e7;
    transition: all 200ms ease 0s;
    opacity: 0.7;
}

.navbar-inverse .brand h1:hover {
    opacity: 1;
}


/* header menu */
.navbar {
    font-family: 'Open Sans',arial,sans-serif;
}
.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav .current_page_item > a,
.navbar .nav .current_page_item > a:hover {
    background-image: none;
    color: #e7e7e7;
    border: 0;
    background-color: transparent;
    opacity: 0.7;
    position: relative;
    top: -3px;
}
.navbar .nav > li > a:hover {
    opacity: 1;
}
.navbar .nav .current_page_item > a,
.navbar .nav .current_page_item > a:hover {
    color: #FF772D !important; /*there must be some default style for an active state which we need to override*/
    opacity: 1;
}
.navbar .nav > li > a img {
    display: none;
}

.navbar a:before {
    font-family: 'icomoon';
    font-size: 32px;
    font-weight: normal;
    position: relative;
    top: 10px;
}

.navbar #cDashboard:before {
    content: "\e915";
}
.navbar #cFloorplans:before {
    content: "\e916";
}
.navbar #cLightSwitches:before {
    content: "\e91c";
}
.navbar #cScenes:before {
    content: "\e917";
}
.navbar #cTemperature:before {
    content: "\e919";
}
.navbar #cWeather:before {
    content: "\e91b";
}
.navbar #cUtility:before {
    content: "\e91a";
}
.navbar .dropdown-toggle:before {
    content: "\e918";
}



@media (max-width: 979px) and (min-width: 768px) {
    body {
        padding-top: 71px;
    }
    .navbar {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0 0 0 5px;
    }
}
@media (max-width: 767px) {
    body {
        padding-top: 71px;
    }
    .navbar {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar .nav > li > a {
        padding: 10px 4px 10px 4px !important;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0 0 0 5px;
    }
    [class*="span"] {
        margin: 0 0 15px 0;
    }
}



/* #### Items  #### */

body table#itemtable tbody tr,
body table#itemtablenotype tbody tr,
body table#itemtabledoubleicon tbody tr,
body table#itemtablenostatus tbody tr,
body table#itemtablesmall tbody tr {
    box-shadow: 5px 5px 10px #333333;
    border-radius: 10px 10px 5px 5px; /* remove white lines on top corners */
    padding: 0 0 5px;
    position: relative; /* to position the last TD on the bottom right */
    width: 100%;
}
body table#itemtablesmall tbody tr {
    height: 70px;
}
body table#itemtable tr td:first-child, /* title */
body table#itemtablenotype tr td:first-child,
body table#itemtabledoubleicon tr td:first-child,
body table#itemtablenostatus tr td:first-child,
body table#itemtablesmall tr td:first-child {
    background-image: url("images/bg_header.png");
    background-repeat: repeat;
    border: none;
    border-radius: 5px 5px 0 0;
    color: #e7e7e7;
    padding: 3px 5px;
    font-size: 120%;
    cursor: pointer;
    overflow: hidden; /* cut too long name */
}
body table#itemtable tr:hover td:first-child,
body table#itemtablenotype tr:hover td:first-child,
body table#itemtabledoubleicon tr:hover td:first-child,
body table#itemtablenostatus tr:hover td:first-child,
body table#itemtablesmall tr:hover td:first-child {
    color: white;
}
body table#itemtable tr td:first-child + td, /* status */
body table#itemtablenotype tr td:first-child + td,
body table#itemtabledoubleicon tr td:first-child + td,
body table#itemtablenostatus tr td:first-child + td,
body table#itemtablesmall tr td:first-child + td {
    color: #FF772D;
    font-weight: normal;
    padding: 0 5px;
    font-size: 120%;
    position: relative; /* to force stay on top */
    background-color: #252F31; /* hover long text below */
}
body table#itemtablesmall tr td:first-child + td + td + td + td { /* last updated */
    position: absolute;
    bottom: 5px;
    right: 5px;
}
body table#itemtablesmall tr td:first-child + td + td + td + td:before { /* last updated text */
    display: none;
}
#comboroom {
    background-color: #252F31;
    color: #FF772D;
}

@media (min-width: 1200px) {

    .row .span4 {
        margin-left: 32px;
        width: 368px;
    }
    .span4:first-child {
        margin-left: 16px;
    }
}



/* mobile */

.mobileitem th {
    background-image: url("images/bg_header.png");
    background-repeat: repeat;
    color: #e7e7e7;
}
.btn-info {
    background-color: #FF772D;
    background-image: none;
}



/* #### Graphs - Highcharts #### */
.highcharts-title {
    color: #ff772D !important;
    fill: #ff772D !important;
}
.highcharts-background {
    fill: #252F31;
    stroke: #252F31;
}
.highcharts-series-group .highcharts-series.highcharts-tracker rect {
    fill: #ff772D;
}
.highcharts-container .highcharts-yaxis-title,
.highcharts-container .highcharts-yaxis-labels text {
    color: #C0C0C0 !important; /* override inline styles */
    fill: #C0C0C0 !important; /* override inline styles */
}
@media (max-width: 979px) {
    .highcharts-series-group .highcharts-series path:first-child {
        stroke-width: 1;
    }
}



/*  #### Settings ####  */
.sub-tabs > .active > a,
.sub-tabs > .active > a:hover {
    background-color: #FF772D;
    border-color: #FF772D;
    color: white;
    font-weight: bold;
}
.tab-content {
    background-color: #FF772D;
    box-shadow: 5px 5px 10px #333333;
    padding: 0 10px 20px;
    margin-bottom: 20px;
    color: #252F31;
}
.tab-content h1,
.tab-content h2 {
    color: white;
}
.tab-content select,
.tab-content .btn-info,
.tab-content .btn-info:hover {
    background-color: #252F31;
    color: white;
}
.tab-content .btn-info {
    opacity: 0.7;
}
.tab-content .btn-info:hover {
    opacity: 1;
}