@font-face {
    font-family: 'icomoon'; /*a name to be used later*/
    src: url('icomoon.ttf'); /*URL to font*/
}

.btnsmall,
.btnstyle,
.btnstyle3,
.btnstyle3-dis,
.btnstylerev {
    background: url("images/bg_header.png") repeat-x;
    color: #e7e7e7;
    margin: 3px 0;
}
.btnstyle,
.btnstyle3,
.btnstyle3-dis,
.btnstylerev {
    padding: 3px 15px;
}
.btnsmall:hover,
.btnstyle:hover,
.btnstyle3:hover,
.btnstylerev:hover {
    color: #fff;
}
.btnstyle3-dis {
    color: #e7e7e7;
    opacity: 0.7;
}

tr.odd {
    background-color: #FFCCB1;
}


body {
    background: #646464 url("images/body_pattern.png") repeat top left;
}

#version {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    padding: 0 20px;
}
#version img { /* Domoticz logo */
    display: none;
}
#version #appversion {
    margin-left: 10px;
}

.navbar-inverse .navbar-inner {
    background-image: url("images/bg_header.png");
    background-repeat: repeat;
}

.navbar-inverse .brand h1 {
    color: #e7e7e7;
    transition: all 200ms ease 0s;
    opacity: 0.7;
}

.navbar-inverse .brand h1:hover {
    opacity: 1;
}


/* header menu */
.navbar {
    font-family: 'Open Sans',arial,sans-serif;
}
.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav .current_page_item > a,
.navbar .nav .current_page_item > a:hover {
    background-image: none;
    color: #e7e7e7;
    border: 0;
    background-color: transparent;
    opacity: 0.7;
    position: relative;
    top: -3px;
}
.navbar .nav > li > a:hover {
    opacity: 1;
}
.navbar .nav .current_page_item > a,
.navbar .nav .current_page_item > a:hover {
    color: #FF772D !important; /*there must be some default style for an active state which we need to override*/
    opacity: 1;
}
.navbar .nav > li > a img {
    display: none;
}

.navbar a:before {
    font-family: 'icomoon';
    font-size: 32px;
    font-weight: normal;
    position: relative;
    top: 10px;
    margin-right: 5px;
}

.navbar #cDashboard:before {
    content: "\e915";
}
.navbar #cFloorplans:before {
    content: "\e916";
}
.navbar #cLightSwitches:before {
    content: "\e91c";
}
.navbar #cScenes:before {
    content: "\e917";
}
.navbar #cTemperature:before {
    content: "\e919";
}
.navbar #cWeather:before {
    content: "\e91b";
}
.navbar #cUtility:before {
    content: "\e91a";
}
.navbar .dropdown-toggle:before {
    content: "\e918";
}

.bannercontent {
    padding-top: 70px;
}


@media (max-width: 979px) and (min-width: 768px) {
    body {
        padding-top: 71px;
    }
    .navbar {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0 0 0 5px;
    }
}
@media (max-width: 767px) {
    body {
        padding-top: 71px;
    }
    .navbar {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar .nav > li > a {
        padding: 10px 4px 10px 4px !important;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0 0 0 5px;
    }
    [class*="span"] {
        margin: 0 0 15px 0;
    }
}
@media (max-width: 1200px) {
    .navbar .hidden-tablet {
        display: none;
    }
    .row .span4 {
        padding: 5px 0;
    }
}

@media (min-width: 1200px) {
    #holder .span4 {
        width: 378px;
    }
}

/* #### Items  #### */

body table#itemtable *,
body table#itemtablenotype *,
body table#itemtabledoubleicon *,
body table#itemtablenostatus *,
body table#itemtablesmall * {
    box-sizing: border-box;
}

body table#itemtable tr,
body table#itemtablenotype tr,
body table#itemtabledoubleicon tr,
body table#itemtablenostatus tr,
body table#itemtablesmall tr {
    display: flex;
    flex-wrap: wrap;
}

body table#itemtable,
body table#itemtablenotype,
body table#itemtabledoubleicon,
body table#itemtablenostatus,
body table#itemtablesmall {
    box-shadow: 5px 5px 10px #333333;
    border-radius: 10px 10px 5px 5px; /* remove white lines on top corners */
    padding: 0 0 5px;
    position: relative; /* to position the last TD on the bottom right */
    width: 100%;
    background-color: #e7e7e7;
    color: #000;
    transition: background-color 200ms linear;
}

body table#itemtable:hover,
body table#itemtablenotype:hover,
body table#itemtabledoubleicon:hover,
body table#itemtablenostatus:hover,
body table#itemtablesmall:hover {
    background-color: #fff;
    transition: background-color 200ms linear;
}

body table#itemtablesmall tbody tr {
    height: 70px;
}
body table#itemtable tr td#name, /* title */
body table#itemtablenotype tr td#name,
body table#itemtabledoubleicon tr td#name,
body table#itemtablenostatus tr td#name,
body table#itemtablesmall tr td#name {
    background-image: url("images/bg_header.png");
    background-repeat: repeat;
    border: none;
    border-radius: 5px 5px 0 0;
    color: #e7e7e7;
    padding: 3px 8px;
    font-size: 120%;
    cursor: pointer;
    overflow: hidden; /* cut too long name */
    width: 100%;
}
body table#itemtable tr:hover td#name,
body table#itemtablenotype tr:hover td#name,
body table#itemtabledoubleicon tr:hover td#name,
body table#itemtablenostatus tr:hover td#name,
body table#itemtablesmall tr:hover td#name {
    color: white;
}
body table#itemtable tr td#bigtext, /* status */
body table#itemtablenotype tr td#bigtext,
body table#itemtabledoubleicon tr td#bigtext,
body table#itemtablenostatus tr td#bigtext,
body table#itemtablesmall tr td#bigtext {
    color: #FF772D;
    font-weight: normal;
    padding: 3px 0;
    font-size: 120%;
    position: relative; /* to force stay on top */
    background-color: #252F31; /* hover long text below */
    position: absolute;
    right: 8px;
}

body table#itemtable tr td#img, /* status */
body table#itemtablenotype tr td#img,
body table#itemtabledoubleicon tr td#img,
body table#itemtablenostatus tr td#img,
body table#itemtablesmall tr td#img {
    padding: 5px;
}

body table#itemtablenotype tr td#lastupdate:before,
body table#itemtablenostatus tr td#lastupdate:before,
body table#itemtablenostatus tr td#type:before {
    font-weight: bold;
}

body table#itemtablenotype tr td#lastupdate:before,
body table#itemtablenostatus tr td#lastupdate:before {
    content: "Last seen: ";
}
body table#itemtablenostatus tr td#type:before {
    content: "Type: ";
}
body table#itemtablesmall tr td#lastupdate { /* last updated */
    position: absolute;
    bottom: 5px;
    right: 5px;
}

body table#itemtablenotype tr td#lastupdate,
body table#itemtablenostatus tr td#lastupdate {
    order: 1; /* move it after type */
    margin: -35px 0 0 58px;
}

body table#itemtablesmall tr td#type,
body table#itemtablenostatus tr td#type,
body table#itemtablesmall tr td#status,
body table#itemtablenotype tr td#status,
body table#itemtablenostatus tr td#status {
    padding: 5px 0;
}

body table#itemtablenotype tr td.options,
body table#itemtablenostatus tr td.options {
    order: 2; /* requred to move type before lastupdate */
}

body table#itemtablenotype tr td.options img,
body table#itemtablenostatus tr td.options img { /* fav icon */
    position: absolute;
    top: 30px;
    right: 8px;
}

body table#itemtablenostatus tr td.options .btnsmall {
    height: unset;
    padding: 0 5px;
}

#comboroom {
    background-color: #252F31;
    color: #FF772D;
}

@media (min-width: 1200px) {

    .row .span4 {
        width: 368px;
    }
    .span4:first-child {
        margin-left: 16px;
    }
}



/* mobile */

.mobileitem th {
    background-image: url("images/bg_header.png");
    background-repeat: repeat;
    color: #e7e7e7;
}
.btn-info {
    background-color: #FF772D;
    background-image: none;
}



/* #### Graphs - Highcharts #### */
.highcharts-title {
    color: #ff772D !important;
    fill: #ff772D !important;
}
.highcharts-background {
    fill: #252F31;
    stroke: #252F31;
}
.highcharts-series-group .highcharts-series.highcharts-tracker rect {
    fill: #ff772D;
}
.highcharts-container .highcharts-yaxis-title,
.highcharts-container .highcharts-yaxis-labels text {
    color: #C0C0C0 !important; /* override inline styles */
    fill: #C0C0C0 !important; /* override inline styles */
}
@media (max-width: 979px) {
    .highcharts-series-group .highcharts-series path:first-child {
        stroke-width: 1;
    }
}



/*  #### Settings ####  */
.sub-tabs > .active > a,
.sub-tabs > .active > a:hover {
    background-color: #FF772D;
    border-color: #FF772D;
    color: white;
    font-weight: bold;
}
.tab-content {
    background-color: #FF772D;
    box-shadow: 5px 5px 10px #333333;
    padding: 0 10px 20px;
    margin-bottom: 20px;
    color: #252F31;
}
.tab-content h1,
.tab-content h2 {
    color: white;
}
.tab-content select,
.tab-content .btn-info,
.tab-content .btn-info:hover {
    background-color: #252F31;
    color: white;
}
.tab-content .btn-info {
    opacity: 0.7;
}
.tab-content .btn-info:hover {
    opacity: 1;
}
